@model PersonelDTO


@{
    ViewData["Title"] = "Personel Home Page";
}

<div class="card">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/images/@Model.Photo" class="card-img" alt="User Photo" style="height:420px; width:390px; margin-top:12px; margin-left:10px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div style="width:400px;">
                    
                </div>
                <div>
                    <a asp-controller="Account" asp-action="CompanylList" class="btn btn-outline-success"><i class="fa fa-building-o"></i>&nbsp; CompanylList</a>
                    <a asp-controller="Account" asp-action="ManagerList" asp-route-id="@Model.Id" class="btn btn-outline-success"><i class="fa fa-building-o"></i>&nbsp; ManagerList</a>
                    <a asp-controller="Account" asp-action="AddCompany" asp-route-id="@Model.Id" class="btn btn-outline-danger m-1"><i class="fa fa-magic"></i>&nbsp; AddCompany</a>
                </div>

            </div>
        </div>
    </div>
</div>
